* {
    text-transform: capitalize;
}

img {
    height: 75px;
}

#currentCard, #forecastCard {
    display: none;
}

#hidden {
    display: none;
}

.customBtn {
    border-width: 1px !important;
    display: none;
    text-transform: capitalize;
}