* {
    text-transform: capitalize;
}

img {
    height: 50px;
}

#currentCard, #forecastCard {
    display: none;
}

#hidden {
    display: none;
}

.customBtn {
    display: none;
    text-transform: capitalize;
}